*{
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

body{
    display: flex;
    background-color: #182029;
}

/* TARJETA */

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
    background-color: #ffffff; 
    border-radius: 25px;
    width: 40%;
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}
.tituloCard{
    background-color: #172daa;
    color: #ffff;
    font-size: 20px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
}

/* INPUTS */

.input{
    margin: 10px auto;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #bbc9da;
    font-size: 20px;
    outline: none;
    padding: 10px;
    width: 50%;
    font-weight: bolder;
}
.input::placeholder{
    color: #5e5e5e;
}


/* BOTONES */
.btn{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: #00aae4;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    border: 3px solid #d1d1d1;
    transition: .2s;
}
.btn:hover{
    background-color: #007de4;
    transition: .2s;
}

/* REGLAS */

.titulo{
    color: #353535;
    font-weight: bold;
}
.reglas{
    margin-bottom: 10px;
}
p{
    color: #5e5e5e;
    margin: 5px;
    text-align: center;
}

/* ALERTA DE ERROR */
#error{
    display: none;
    position: absolute;
    background-color: #353535af;
    width: 100%;
    height: 100%;
}

#cardAnim{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: #ffff;
    text-align: center;
    width: 30%;
    margin: 150px auto;
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 10px;
    transform: scale(0);
    /* ease : Efecto de aceleración y desaceleración suave al principio y al final de la transición. */
    transition: transform 0.5s ease;
}

#cardAnim h2{
    margin: 10px;
}

/* JUEGO */
.jugador{
    color: #e4e000;
}

.respuestas{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btnRespuesta{ 
    text-align: start;
    margin: 10px auto;
    width: 70%;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #a0a0a0;
    background-color: #d6d6d6;
    color: #000000;
    font-weight: bolder;
    padding: 18px;
    cursor: pointer;
    transition: .2s;
}

.btnRespuesta:hover{
    background-color: #7cb9ff;
    border-bottom: 2px solid #7cb9ff;
    transition: .2s;
}

.menu{
    margin: 0 auto;
    display: flex;
}

#salir{
    margin: 0 5px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    background-color: #00aae4;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border: 3px solid #d1d1d1;
    transition: .2s;
}

#salir:hover{
    background-color: #007de4;
    transition: .2s;
}


#btnSiguiente{
    margin: 0 5px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    background-color: #a2c8d4;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border: 3px solid #d1d1d1;
    transition: .2s;
}

#btnSiguiente:hover{
    background-color: #7e9ca5;
    transition: .2s;
}

/* JUEGO TERMINADO */
.acertadas{
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
    margin: 50px 0px;
}

